@model CheckSaver.Models.Transactions

@{
    ViewBag.Title = "Delete";
}

<div class="dialog">

    <div class="main-title">
        Удалить транзакцию?
    </div>
    <hr />

    <dl>

        <dt>
            @Html.DisplayName("Кто платил")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhoPayNP.Name)
        </dd>

        <dt>
            @Html.DisplayName("За кого платили")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForWhomNP.Name)
        </dd>

        <dt>
            @Html.DisplayName("Сумма")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summa)
        </dd>

        <dt>
            @Html.DisplayName("Описание")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caption)
        </dd>

        <dt>
            @Html.DisplayName("Дата")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayName("Погашено?")
        </dt>

        @{
            if (Model.IsDebitOff == true)
            {
                <dd>
                    Да
                </dd>
            }
            else
            {
                <dd>
                    Нет
                </dd>

            }
        }


    </dl>

    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="form-group">
                <div class="col-md-offset-3 ">
                    <input type="submit" value="Удалить" class="card-flat-button delete-button" />
                    <input type="button" value="Отмена" class="card-flat-button" onclick="location.href='@Url.Action("Index")'" />
                </div>
            </div>
        </div>
    }
</div>
