@model CheckSaver.Models.Transactions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Summa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDebitOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDebitOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromNeighbours.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromNeighbours.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToNeighbours.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToNeighbours.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
