@model CheckSaver.Models.Transactions

@{
    ViewBag.Title = "Edit";
}

<script>
    $('.navbar-brand')[0].innerHTML += 'Редактирование транзакции';
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 card card-big card-big-full-bordered">
        <div class="card-big-title">
            <div class="main-title">Редактирование  транзакции @Model.Id</div>
            <div class="sub-title">Внесите изменения и нажмите кнопку "Сохранить"</div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label("Кто платит", "WhoPay", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("WhoPay", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WhoPay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("За кого платят", "ForWhom", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ForWhom", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ForWhom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Сумма", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Summa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Summa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Описание", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Дата", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Погашено?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsDebitOff)
                    @Html.ValidationMessageFor(model => model.IsDebitOff, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-md-offset-3 ">
                <input type="submit" value="Сохранить" class="card-flat-button delete-button" />
                <input type="button" value="Отмена" class="card-flat-button" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
