@model IEnumerable<CheckSaverCore.Transactions>
@using CheckSaver.Helpers;

@{
    ViewBag.Title = "Транзакции";
}

<div class="form-horizontal col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 card card-big card-big-full-bordered card-padded">
    <div class="card-big-title">
        <div class="main-title">Информация о долгах</div>
        <div class="sub-title"></div>
    </div>
    <hr />

    @foreach (var credit in ViewBag.Credits)
    {
        <p>@credit</p>
    }

    <hr />
    <div class="card-big-title">
        <div class="main-title">Список несвязанных транзакции</div>
        <div class="sub-title"></div>
    </div>
    <hr />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Кто платил")
            </th>
            <th>
                @Html.DisplayName("За кого платили")
            </th>
            <th>
                @Html.DisplayName("Дата")
            </th>

            <th>
                @Html.DisplayName("Сумма")
            </th>
            <th>
                @Html.DisplayName("Описание")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.CheckId == null && !item.IsDebitOff)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WhoPayNP.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ForWhomNP.Name)
                    </td>
                    <td>
                        @item.Date.ToShortDateString()
                    </td>

                    <td>
                        @item.Summa.ToString("C")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Caption)
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }

    </table>

    @*<nav>
        <ul class="pager">
            @if ((int)ViewData["PageNum"] == 0)
            {
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span></a></li>
            }
            else
            {
                <li class="previous "><a href="@Url.Action("Index", new { pageNum = (int)ViewData["PageNum"] - 1, pageNum2 = (int)ViewData["PageNum2"] })"><span aria-hidden="true">&larr;</span></a></li>
            }



            @if ((int)ViewData["PageNum"] == (int)ViewData["PageWithoutCount"])
            {
            <li class="next disabled"><a href="#"><span aria-hidden="true">&rarr;</span></a></li>
            }
            else
            {
                <li class="next"><a href="@Url.Action("Index", new { pageNum = (int)ViewData["PageNum"] + 1, pageNum2 = (int)ViewData["PageNum2"] })"><span aria-hidden="true">&rarr;</span></a></li>
            }
        </ul>
    </nav>*@

    @Html.PagedNavigatorFirst((int)ViewData["PageNum"], (int)ViewData["PageWithoutCount"], (int)ViewData["PageNum2"])

    <hr />
    <div class="card-big-title">
        <div class="main-title">Список связанных транзакции</div>
        <div class="sub-title"></div>
    </div>
    <hr />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Кто платил")
            </th>
            <th>
                @Html.DisplayName("За кого платили")
            </th>
            <th>
                @Html.DisplayName("Дата")
            </th>

            <th>
                @Html.DisplayName("Сумма")
            </th>
            <th>
                @Html.DisplayName("Просмотр чека")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Checks != null)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WhoPayNP.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForWhomNP.Name)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>

                <td>
                    @item.Summa.ToString("C")
                </td>
                <td>
                    @Html.ActionLink("Посмотреть чек", "Details", "Checks", new { id = item.CheckId }, new { })
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
            }
        }

    </table>
    @Html.PagedNavigatorSecond((int)ViewData["PageNum2"], (int)ViewData["PageWithCount"], (int)ViewData["PageNum"])
</div>

<div class="round-button">
    <div class="round-button-circle" onclick="location.href = '@Url.Action("Create")'; ">
        +
    </div>
</div>