@model CheckSaverCore.tmp.ExtentionsModels.Stores

<div class="card card-small">
    <div class="card-image" style="background-image: url(@Model.Photo)">
        <div class="card-title">@Model.Title</div>
    </div>
    <div class="card-action">
        <a href="@Url.Action("Details", "Stores", new {id = Model.Id})">
            <div class="card-flat-icon"><span class="glyphicon glyphicon-eye-open"></span></div>
        </a>
        <a href="@Url.Action("Edit", "Stores", new {id = Model.Id})">
                <div class="card-flat-icon"><span class="glyphicon glyphicon-edit"></span></div>
            </a>
        <a href="@Url.Action("Delete", "Stores", new {id = Model.Id})">
            <div class="card-flat-icon"><span class="glyphicon glyphicon-trash"></span></div>
        </a>
    </div>
</div>
