@model CheckSaver.Models.Checks

@{
    ViewBag.Title = "Удалить чек";
}

<div class="dialog">

    <div class="main-title">
        Удалить чек?
    </div>
    <hr />

    <div class="sub-title">
        Внимание! Будут удалены все транзакции, связанные с данным чеком!
    </div>
    <hr>
        <dl>
            <dt>
                Дата
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                Кто платил
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Neighbours.Name)
            </dd>

            <dt>
                Магазин
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stores.Title)
            </dd>
            <dt>
                Сумма чека
            </dt>

            <dd>
                @{ 
                    var c = Model.Purchases.Sum(x => x.Cost).ToString("C");
                }
                @Html.DisplayFor(model => @c)
            </dd>
        </dl>
    <hr>

    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="form-group">
                <div class="col-md-offset-3 ">
                    <input type="submit" value="Удалить" class="card-flat-button delete-button" />
                    <input type="button" value="Отмена" class="card-flat-button" onclick="location.href='@Url.Action("Index")'" />
                </div>
            </div>
        </div>



    }
</div>

