@using CheckSaver.Models
@model CheckSaver.Models.Neighbours

@{
    ViewBag.Title = "Статистика по " + Model.Name;
}

<script>
    $('.navbar-brand')[0].innerHTML += '@ViewBag.Title';
</script>

<div class="form-horizontal col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 card card-big card-big-full-bordered">
    <div class="card-big-title">
        <div class="main-title">@ViewBag.Title</div>
        <div class="sub-title"></div>
    </div>
    <hr />
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-offset-0 col-lg-offset-0">
        <div class="main-title">
            Растраты
        </div>
        @{
            foreach (var item in ViewBag.MonthPay)
            {
                @item<br />
            }
        }
        <hr />

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-offset-0 col-lg-offset-0">
        <div class="main-title">
            Оплачено
        </div>

        @foreach (Checks check in Model.Checks)
        {
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-3">
                @{
                    Html.RenderPartial("~/Views/Checks/Card.cshtml", check);
                }
            </div>
                    }    
        <hr />

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <hr />
        </div>
    </div>
        @*    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-offset-0 col-lg-offset-0">

        <div class="main-title">
            Должны @Model.Name
        </div>

        @foreach (Transactions transaction in Model.MyPaysNP)
            {
                if (!@transaction.IsDebitOff)
                {

                <p>
                    @transaction.Date.ToShortDateString() - @transaction.Caption - @transaction.ForWhomNP.Name: @transaction.Summa.ToString("C");
                </p>
            }
        }

        @{
            var summ = (from t in Model.MyPaysNP where !t.IsDebitOff group t by t.ForWhomNP.Name into groups select groups).ToList();
            foreach (var item in summ)
            {
                <p>
                    @item.Key: @item.Sum(x => x.Summa).ToString("C")
                </p>

            }
        }

        <hr />
        <div class="main-title">
            @Model.Name Должeн
        </div>
        @foreach (Transactions transaction in Model.PaysForMeNP)
        {
            if (!@transaction.IsDebitOff)
            {
                <p>@transaction.Date.ToShortDateString() - @transaction.Caption - @transaction.WhoPayNP.Name: @transaction.Summa.ToString("C")</p>
            }
        }

        <hr />
    </div>*@

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-offset-0 col-lg-offset-0">
            <div class="form-group">
                <div class="col-md-offset-3 ">
                    <input type="button" value="Реактировать" class="card-flat-button delete-button" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'" />
                    <input type="button" value="Назад к списку соседей" class="card-flat-button" onclick="location.href='@Url.Action("Index")'" />
                </div>
            </div>
        </div>
    </div>
