@model CheckSaver.Models.ElectricityTarif

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ElectricityTarif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LowLevelRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowLevelRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighLevelRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighLevelRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LowPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddlePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddlePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
