@using System.Globalization;

@model CheckSaver.Models.Checks

<div class="card card-small">
    <div class="card-image" style="background-image: url(@Model.Stores.Photo)">
        <div class="card-title">@Model.Date.ToString("d MMM", CultureInfo.CreateSpecificCulture("ru-RU"))</div>
    </div>
    <div class="card-action">
        @*<div class="card-flat-icon">
            <img src="@Model.Neighbours.Photo" class="img-circle img-responsive card-neighbour-photo-xsmall"/>
        </div>*@
        <a href="@Url.Action("Details", "Checks", new {id = Model.Id})">
            <div class="card-flat-icon"><span class="glyphicon glyphicon-eye-open"></span></div>
        </a>
        <a href="@Url.Action("Edit", "Checks", new {id = Model.Id})">
            <div class="card-flat-icon"><span class="glyphicon glyphicon-edit"></span></div>
        </a>
        <a href="@Url.Action("Delete", "Checks", new {id = Model.Id})">
            <div class="card-flat-icon"><span class="glyphicon glyphicon-trash"></span></div>
        </a>
    </div>
</div>