<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <style>
        body {
            margin: 0;
            font-family: RobotoDraft, Roboto, sans-serif;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
        }

        a {
            color: #333;
            text-decoration: none;
        }

            a:visited {
                color: #333;
                text-decoration: none;
            }

        #logo {
            border-bottom: 1px solid #e0e0e0;
            display: block;
            position: relative;
            background-color: white;
            padding: 12px 0 11px 24px;
        }

        #right_menu {
            position: fixed;
            height: 100%;
            width: 240px;
            background-color: white;
            z-index: 1;
            border-bottom: 1px solid #e0e0e0;
            font-size: 13px;
            font-weight: 700;
        }

            #right_menu a {
                font-weight: 700;
            }

            #right_menu dt {
                margin-top: 0;
                padding: 15px 0 15px 22px;
                cursor: pointer;
            }

                #right_menu dt:hover {
                    background-color: #e0e0e0;
                }

        #content-panel {
            margin-left: 240px;
            background-color: #fafafa;
            z-index: 0;
            min-height: 100%;
            border-left: 1px solid #e0e0e0;
        }

        #content-body {
            margin: auto;
            padding-top: 128px;
            width: 1060px;
        }

        #header {
            position: fixed;
            top: 0;
            left: 0;
            padding-left: 240px;
            background-color: #009688;
            height: 64px;
            width: 100%;
            color: white;
            font-size: 18px;
            line-height: 64px;
            margin-left: 72px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        }

        #content {
            width: 100%;
        }

        #legal {
            background-color: white;
            position: absolute;
            border-top: 1px solid #e0e0e0;
        }

        .footer {
            background-color: white;
            position: static;
            height: 96px;
            width: 100%;
            bottom: 0;
        }
    </style>
</head>
<body>
    <header id="header">@ViewBag.Title</header>

    <div id="right_menu">
        <span id="logo">
            <img src="https://www.google.com/design/spec/static/images/nav_google_logo.svg" alt="Logo">
        </span>
        <nav>
            <dl>
                <a href="@Url.Action("Index", "Checks", new {Area = "Checks"})">
                    <dt>
                        <span class="glyphicon glyphicon-piggy-bank"></span>Чеки

                    </dt>
                </a>
                <a href="@Url.Action("Index", "Transactions", new {Area = "Checks"})">
                    <dt>
                        <span class="glyphicon glyphicon-transfer"></span>Транзакции

                    </dt>
                </a>
                <a href="@Url.Action("Index", "Stores", new {Area = "Checks"})">
                    <dt>
                        <span class="glyphicon glyphicon-shopping-cart"></span>Магазины

                    </dt>
                </a>
                <a href="@Url.Action("Index", "Neighbors", new {Area = "Checks"})">
                    <dt>
                        <span class="glyphicon glyphicon-user"></span>Соседи

                    </dt>
                </a>
                <a href="@Url.Action("Index", "ElectricityTarifs", new {Area = "Invoices"})">
                    <dt>



                        <span class="glyphicon glyphicon-shopping-cart"></span>Эл. Тарифы

                    </dt>
                </a>
                <a href="@Url.Action("Index", "FPNames", new {Area = "Invoices"})">
                    <dt>
                        <span class="glyphicon glyphicon-shopping-cart"></span>Справочник

                    </dt>
                </a>
                <a href="@Url.Action("Index", "GasTarifs", new {Area = "Invoices"})">
                    <dt>
                        <span class="glyphicon glyphicon-shopping-cart"></span>Тарифы газ

                    </dt>
                </a>
                <a href="@Url.Action("Index", "Invoices", new {Area = "Invoices"})">
                    <dt>
                        <span class="glyphicon glyphicon-shopping-cart"></span>Квитанции
                    </dt>
                </a>
                <a href="@Url.Action("Index", "WaterTarifs", new {Area = "Invoices"})">
                    <dt>
                        <span class="glyphicon glyphicon-shopping-cart"></span>Вода тарифы
                    </dt>
                </a>

                <a href="@Url.Action("Index", "Calculator", new {Area = "Calculator"})">
                    <dt>
                        <span class="glyphicon glyphicon-calendar"></span>Калькулятор
                    </dt>
                </a>
            </dl>
        </nav>
        <div id="legal" class="footer"></div>
    </div>
    <div id="content-panel">
        <div id="content">
            <div id="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", false)
    @RenderSection("styles", false)
</body>
</html>