@model CheckSaver.Models.Invoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InvoiceLayour.cshtml";

}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electricity.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Electricity.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gas.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gas.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColdWater.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColdWater.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotWater.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotWater.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
