<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <style>
        
    </style>
</head>
<body>
    <header id="header">@ViewBag.Title</header>

    <div id="right_menu">
        <span id="logo">
            <img src="https://www.google.com/design/spec/static/images/nav_google_logo.svg" alt="Logo">
        </span>
        <ul>
            <li>
                <a href="@Url.Action("Index", "Checks", new { area = "Checks"})">
                    <span class="glyphicon glyphicon-piggy-bank"></span>Чеки
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Transactions", new { area = "Checks"})">
                    <span class="glyphicon glyphicon-transfer"></span>Транзакции
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Stores", new { area = "Checks"})">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Магазины
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Neighbors", new { area = "Checks"})">
                    <span class="glyphicon glyphicon-user"></span>Соседи

                </a>
            </li>
            <li>

                <a href="@Url.Action("Index", "ElectricityTarifs", new { area = "Invoices"})">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Эл. Тарифы
                </a>
            </li>
            <li>

                <a href="@Url.Action("Index", "FPNames", new { area = "Invoices"})">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Справочник

                </a>
            </li>
            <li>

                <a href="@Url.Action("Index", "GasTarifs", new { area = "Invoices"})">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Тарифы газ

                </a>
            </li>
            <li>

                <a href="@Url.Action("Index", "Invoices", new { area = "Invoices"})">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Квитанции
                </a>
            </li>
            <li>

                <a href="@Url.Action("Index", "WaterTarifs", new { area = "Invoices"})">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Вода тарифы
                </a>
            </li>
            <li>

                <a href="@Url.Action("Index", "Calculator", new { area = "Calculator"})">
                    <span class="glyphicon glyphicon-calendar"></span>Калькулятор
                </a>
            </li>
        </ul>
        <div id="legal" class="footer"></div>
    </div>
    <div id="content-panel">
        <div id="content">
            <div id="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/animations")*@

    @Styles.Render("~/Content/css");
    @RenderSection("scripts", false)
    @RenderSection("styles", false)
</body>
</html>