@model CheckSaver.Models.Neighbours

<div class="card card-small">
    <div class="card-image" style="background-image: url(@Model.Photo)">
        <div class="card-title">@Model.Name</div>
    </div>
    <div class="card-action">
        <a href="@Url.Action("Details", "Neighbors", new {id = Model.Id})">
                <div class="card-flat-icon"><span class="glyphicon glyphicon-stats"></span></div>
            </a>
        <a href="@Url.Action("Edit", "Neighbors", new {id = Model.Id})">
            <div class="card-flat-icon"><span class="glyphicon glyphicon-edit"></span></div>
        </a>
        <a href="@Url.Action("Delete", "Neighbors", new {id = Model.Id})">
            <div class="card-flat-icon"><span class="glyphicon glyphicon-trash"></span></div>
        </a>
    </div>
</div>
